.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;/* Couleur de fond de votre choix */
    padding: 10px;
}

.textarea-message {
    width: calc(100% - 120px);
    min-height: 50px;
    resize: none;
}

.send-button, .logout-button {
    width: 60px;
}

.dark-mode-footer {
    background-color: #2f2f2f;
    color: #fff;
}

.light-mode-footer {
    background-color: #f0f0f0;
    color: #2f2f2f;
}