.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.message-input {
    margin-left: 20%;
    border-radius: 5px;
    width: 70%;
    min-height: 20px;
    padding: 10px;
    color: #2f2f2f;
}

.message-input .DraftEditor-root {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.send-button, .logout-button {
    width: 60px;
}

.dark-mode-footer {
    background-color: #2f2f2f;
    color: #fff;
}

.light-mode-footer {
    background-color: #f0f0f0;
    color: #2f2f2f;
}

.dark-mode-input {
    background-color: #212121;
    color: #fff;
}

.light-mode-input {
    background-color: #fff;
    color: #212121;
}